.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button{
	-fx-padding:0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button{
	-fx-padding:0;
}

.list-view {
	-fx-border-color: lightgray;
	-fx-border-color-non-focused: lightgray;
	-fx-background-insets: 0;
	-fx-selection-bar: lightgray;
	-fx-selection-bar-non-focused: lightgray;
}